# Environment
.env
.env.*
!.env.example

# Dataset privado
modelo/caprichoso/
modelo/garantido/

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Expo
.expo/

# Sistema
.DS_Store
Thumbs.db